.login{
height: 100%;
margin: 0;
display: grid;
justify-items: center;
align-items: center;
}
.lContainer{
    width: 50%;
    height: 50%;
    display: grid;
    justify-items: center;
   align-items: center;
}
.lInput{
    margin: 4px;
  height: 30px;
  padding: 10px;
}
.lButton{
   border: none;
   padding: 10px 20px;
   background-color: #0071c2;
   color: white;
   font-weight: bold;
   cursor: pointer;
   border-radius: 5px;
}
.lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
}